@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

body {
  width: 100%;
  height: 100%;
  text-align: center;
}

.text {
  display: inline-block;
  position: relative;
  width: 766px;
  font-size: 60px;
  line-height: 70px;
  color: #fff;
  text-shadow: 0 20px 60px rgba(0, 0, 0, 0.6);
  padding: 40px 45px;
  border: 2px solid #395988;
}
.text p:nth-child(2) {
  font-family: "Calibri-Bold";
}
.text p:nth-child(3) {
  font-family: "CalibriL";
  font-size: 33px;
}
@media screen and (max-width: 768px) {
  .text {
    width: 90%;
    font-size: 40px;
    line-height: 50px;
  }
  .text p:nth-child(3) {
    font-family: "CalibriL";
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) and (max-width: 550px) {
  .text {
    background: none;
    border: 2px solid #395988;
    padding: 20px 10px;
  }
  .text p:nth-child(2) {
    padding-top: 20px;
  }
  .text p:nth-child(3) {
    font-family: "CalibriL";
    padding-top: 20px;
  }
}

@media screen and (max-width: 450px) {
  .text {
    padding: 5px;
  }
  .text p:nth-child(1) {
    display: none;
  }
  .text p:nth-child(2) {
    font-size: 24px;
    line-height: 26px;
  }
  .text p:nth-child(3) {
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 10px;
  }
}

.header {
  display: table;
  min-width: 100%;
  height: 100vh;
  background: url(../img/header2.jpg) center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 0;
}

.wrap {
  text-align: center;
  display: table-cell;
  min-height: 100%;
  margin: 0 auto;
  width: 800px;
  vertical-align: middle;
}

.header-button a {
  display: inline-block;
  margin-top: 40px;
  padding: 0 30px;
  background: #63a1ff;
  color: #fff;
  font: 18px/37px "Myriad Pro";
  text-decoration: none;
}
.header-button a:hover {
  background: #395988;
}

.scroll {
  padding: 0;
  position: absolute;
  display: inline-block;
  bottom: 37px;
  left: 50%;
  margin-left: -20px;
  z-index: 9;
}
.scroll img {
  cursor: pointer;
}
@media screen and (max-width: 450px) {
  .scroll {
    bottom: 10px;
  }
}
@media screen and (max-width: 350px) {
  .scroll {
    display: none;
  }
}

.menu-shadow {
  width: 100%;
  height: 72px;
  box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.3);
  background: #f6f6f6;
  bottom: -72px;
  position: fixed;
  z-index: 1000;
}

.menu-block {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 960px;
  min-height: 72px;
  background: #f6f6f6;
}

.menu ul {
  float: right;
  overflow: hidden;
  color: white;
  transition: 0.9s;
}
.menu ul li {
  display: inline-block;
  font: 18px/18px "Calibri";
}
.menu ul li a {
  float: right;
  display: inline-block;
  padding: 27px 6px;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}
.menu ul li a:hover {
  background: #63a1ff;
  color: #fff;
  transition: 0.2s;
}

.handle {
  width: 100%;
  background: #63a1ff;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font: 20px/20px "Calibri-Bold";
  padding: 28px 20px;
  cursor: pointer;
  color: #333;
  display: none;
  border-top: 1px solid #bfbbbb;
  border-bottom: 1px solid #bfbbbb;
}

@media screen and (max-width: 768px) {
  .menu-block .navbar-brand {
    width: 100%;
    float: none;
  }
  .menu-block .navbar-brand img {
    display: block;
    margin: 0 auto;
  }

  nav ul {
    width: 100%;
    max-height: 0;
    float: none;
    background: #f6f6f6;
  }
  nav ul li:last-child {
    margin-bottom: 5px;
  }

  .showing {
    max-height: 22em;
  }

  .menu ul li {
    width: 100%;
  }
  .menu ul li a {
    padding: 15px;
    width: 100%;
    float: none;
    border-bottom: 1px solid #bfbbbb;
  }
  .menu ul li a:hover {
    font-weight: 600;
    box-shadow: 0 5px 2px -2px rgba(0, 0, 0, 0.3);
  }

  .handle {
    display: block;
  }
  .handle:hover {
    background: #395988;
    color: #fff;
  }
}
.block1 {
  width: 100%;
  position: relative;
  min-height: 300px;
  background: #fff;
  z-index: 10;
}
.block1 h1 {
  margin-top: 60px;
  font: 35px/40px "CalibriL";
}
@media screen and (max-width: 768px) {
  .block1 h1 {
    margin-top: 140px;
  }
}
@media screen and (max-width: 500px) {
  .block1 h1 {
    font: 24px/30px "CalibriL";
  }
}
.block1 h2 {
  font: 50px/65px "Calibri-Bold";
  font-weight: 900;
}
.block1 h2 span {
  color: #63a1ff;
}
@media screen and (max-width: 500px) {
  .block1 h2 {
    font: 30px/36px "Calibri-Bold";
    padding: 10px 0;
  }
}
.block1 h3 {
  margin-bottom: 35px;
  font: 24px/30px "CalibriL";
}
.block1 h3 span {
  color: #63a1ff;
}
@media screen and (max-width: 500px) {
  .block1 h3 {
    font: 18px/24px "CalibriL";
  }
}

.block1-content {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 25px;
}
.block1-content h4 {
  font: 30px/30px "CalibriL";
  padding: 20px 0;
}
.block1-content p {
  font: 16px/20px "CalibriL";
}

.block1-text {
  display: inline-block;
  max-width: 370px;
  min-height: 6em;
}

.block2 {
  min-height: 655px;
  max-height: 655px;
  background-size: cover;
  position: relative;
  background: #fff;
}
@media screen and (max-width: 992px) {
  .block2 {
    max-height: 1655px;
  }
}

.block2-content {
  height: 100%;
  background: url("../img/block2.jpg") center no-repeat;
  background-size: cover;
}

.block2-content2 {
  min-height: 655px;
  position: relative;
  background: url("../img/block2.png") center repeat;
  z-index: 11;
}

.block2-text {
  text-align: left;
  z-index: 14;
  color: #fff;
  font: 18px/22px "CalibriL";
}
.block2-text h4 {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 35px;
  padding-right: 35px;
  font: 40px/46px "CalibriL";
  color: #63a1ff;
  text-shadow: 2px 2px 4px #000, 0 0 1em #000;
}
.block2-text p {
  margin-bottom: 25px;
  padding-left: 35px;
  padding-right: 35px;
  text-shadow: 2px 2px 4px #000, 0 0 1em #000;
}

.scills {
  margin-top: 20px;
}
@media screen and (max-width: 992px) {
  .scills {
    margin-bottom: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.skillBar {
  margin: 46px auto 0 auto;
}
.skillBar h4 {
  text-align: left;
  padding-left: 50px;
  text-transform: none;
  font: 20px/22px 'Myriad-Inalic';
  color: #fff;
  text-shadow: 2px 2px 4px #000, 0 0 1em #000;
}
@media screen and (max-width: 992px) {
  .skillBar h4 {
    padding-left: 0;
    text-align: center;
  }
}
@media screen and (max-width: 992px) {
  .skillBar {
    margin: 30px auto 0 auto;
  }
}

.skillBarContainer {
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  height: 19px;
  background: #d2c8bf;
  border-radius: 5px;
  box-shadow: 2px 2px 4px #000, 0 0 1em #000;
}

.skillBarContainer-img {
  margin: 0 auto;
  width: 100%;
  max-width: 380px;
  height: 1px;
}

.skillBarValue {
  height: 19px;
  float: left;
  background: url("../img/scils-bg.png") center repeat-x;
  border-radius: 5px;
  text-align: right;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/* Allowed values for the css skill bars */
.value-00 {
  width: 0;
}

.value-10 {
  width: 10%;
}

.value-20 {
  width: 20%;
}

.value-30 {
  width: 30%;
}

.value-40 {
  width: 40%;
}

.value-50 {
  width: 50%;
}

.value-60 {
  width: 60%;
}

.value-78 {
  width: 78%;
}

.value-80 {
  width: 80%;
}

.value-90 {
  width: 90%;
}

.value-96 {
  width: 96%;
}

.value-98 {
  width: 98%;
}

.value-100 {
  width: 100%;
}

/*///////////////////////////////////////////////////
    // Animation \
///////////////////////////////////////////////////*/
@-webkit-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@-moz-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@-ms-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@-o-keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
@keyframes slideIn {
  0% {
    width: 0;
  }
  25% {
    width: 100%;
  }
  100% {
    width: normal;
  }
}
.skillBarValue {
  -webkit-animation: slideIn 5s;
  -moz-animation: slideIn 5s;
  -o-animation: slideIn 5s;
  animation: slideIn 5s;
}

.skillBarValue-img {
  margin-top: -36px;
  margin-left: 20px;
  float: left;
  text-align: right;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-animation: slideIn 5s;
  -moz-animation: slideIn 5s;
  -o-animation: slideIn 5s;
  animation: slideIn 5s;
}

.block3 {
  margin-top: -220px;
  padding-bottom: 50px;
  position: relative;
  background: url("../img/line.png") center no-repeat;
  background-size: cover;
  min-height: 240px;
  z-index: 13;
}
@media screen and (max-width: 992px) {
  .block3 {
    margin-top: 0;
    background: #fff;
    border-top: 3px solid #63a1ff;
  }
}

.block3-content {
  margin-top: 75px;
}
.block3-content p {
  padding-top: 10px;
  font: 22px/26px 'CalibriL';
}
@media screen and (max-width: 450px) {
  .block3-content {
    width: 100%;
  }
}

.block3-text {
  width: 100%;
}
.block3-text h5 {
  font: 90px/90px 'Calibri-Bold';
  color: #63a1ff;
}
.block3-text:after {
  display: block;
  content: '';
  background: url("../img/line2.png") center no-repeat;
  width: 100%;
  height: 6px;
}

.block4 {
  position: relative;
  width: 100%;
  min-height: 92px;
  background: url("../img/block3.jpg") center no-repeat;
  background-size: cover;
  z-index: 99;
}
.block4 p {
  padding-top: 35px;
  padding-bottom: 35px;
  font: 18px/22px 'CalibriL';
}
.block4 p span {
  font: 18px/22px 'Calibri-Bold';
}
.block4 a {
  display: inline-block;
  margin-top: 10px;
  padding: 0 10px;
  background: #63a1ff;
  color: #fff;
  font: 18px/37px "Myriad Pro";
  text-decoration: none;
}
.block4 a:hover {
  background: #395988;
  color: #fff;
}

/*╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ ╤Б ╤Д╨╛╤А╨╝╨╛╨╣*/
#mask {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99998;
  background-color: #fff;
  opacity: 0.5;
  display: none;
  width: 100%;
}

#dialog {
  position: fixed;
  display: none;
  left: 50%;
  top: 40%;
  margin-left: -235px;
  padding: 30px 20px 10px 20px;
  width: 470px;
  min-height: 312px;
  background: #395988;
  border: 2px solid #63a1ff;
  z-index: 99999;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
@media screen and (max-width: 500px) {
  #dialog {
    width: 300px;
    margin-left: -150px;
  }
}

#dialog h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #63a1ff;
}

.modal-form-input {
  margin-bottom: 15px;
}

.modal-form-text {
  text-align: left;
  padding-top: 3px;
  font: 16px/22px 'CalibriL';
  color: #fff;
}

#btn-modal-fotm {
  margin-top: 25px;
  min-height: 35px;
  width: 100%;
  padding: 5px 5px;
  background: #63a1ff;
  border: none;
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}
#btn-modal-fotm:hover {
  background: #395988;
  border: 2px solid #63a1ff;
  color: #63a1ff;
}

/*╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ ╤Б ╤Д╨╛╤А╨╝╨╛╨╣ END*/
/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-duration: 0s;
  animation-duration: 0s;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
}
